@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Nunito:400,600&display=swap");

body {
  background: #dcf5ff;
  margin: 0;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 25%;
  border-radius: 10px;

  .inner {
    background: #00ff88;
    padding: 1em;
    width: 100%;
    border-radius: 10px;
    clip-path: circle(8% at 85% 18%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      clip-path: circle(75%);
      border-radius: 10px;
      background: #00b6ff;

      span {
        color: rgba(255, 255, 255, 0);
      }
    }

    span {
      float: right;
      margin-right: 11%;
      font-weight: bold;
      color: white;
      transition: color 0.5s ease-in-out;
    }

    h1 {
      color: white;
      margin: 0;
    }

    p {
      color: white;
      font-size: 0.8em;
      line-height: 1.5em;
    }
  }
}
