@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
  --text-color: rgba(12, 16, 54, 0.77);
  --icon-clr-1: #2d9cdb;
  --icon-clr-2: #eb5757;
  --icon-clr-3: #f2c94c;
  --vector-clr: #e6ea39;
  --centre-frame-clr: rgba(191, 247, 240, 0.65);
}

html,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header {
  position: relative;
  width: auto;
  height: 80px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  .logo {
    .logo-icon {
      width: 50px;
      height: 15px;

      circle {
        fill-opacity: 0.9;
      }

      circle:nth-child(1) {
        fill: var(--icon-clr-1);
      }
      circle:nth-child(2) {
        fill: var(--icon-clr-2);
      }
      circle:nth-child(3) {
        fill: var(--icon-clr-3);
      }
    }
    .logo-text {
      color: var(--text-color);
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 142%;
      transition: all 0.25s ease-in-out;

      &:hover {
        color: black;
      }
    }
  }

  .navbar {
    display: flex;
    li {
      margin: 0 15px;
      list-style: none;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        height: 120%;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 2px solid black;
        box-sizing: border-box;
        transform: scaleX(0);
        transition: all 0.25s ease-in-out;
      }

      a {
        text-decoration: none;
        color: var(--text-color);
        transition: all 0.25s ease-in-out;
      }
      &:hover {
        &::before {
          transform: scaleX(1);
        }
        a {
          color: black;
          font-weight: 500;
        }
      }
    }
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .centerFrame {
    height: 75%;
    width: 85%;
    background: var(--centre-frame-clr);
    mix-blend-mode: multiply;
  }

  .line1 {
    position: absolute;
  }

  .line2 {
    position: absolute;
  }
}

.vector1 {
  position: absolute;
  top: -20px;
  right: -240px;
  width: 80%;
  height: 80%;
  path {
    fill: var(--vector-clr);
    fill-opacity: 0.65;
  }
}

.vector2 {
  position: absolute;
  bottom: -70px;
  left: -40px;
  width: 70%;
  height: 80%;
  path {
    fill: var(--vector-clr);
    fill-opacity: 0.65;
  }
}
